*{
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.box-one{
    background-color: brown;
    padding: 10px;
    height: 300px;
    width: 500
px;
    border: 20px solid purple;
    margin: 100px;
  
}

.box-two{
    background-color: rgb(190, 52, 52);
    border: 0 solid green;
    padding: 10px;
    height: 300px;
    width: 500px;
    border: 20px solid rgb(207, 164, 207);
    margin: 70px;
  
}
.box-three{
    background-color: rgb(190, 52, 52);
    border: 0 solid green;
    padding: 10px;
    height: 300px;
    width: 500px;
    border: 20px solid rgb(207, 164, 207);
    margin: 70px;
  
}