.city{
font-family: Arial, sans-serif;
font-size: 14px;
color: rgb(199, 196, 196);
}
#London{
    background-color: rgb(0, 4, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
}
#Paris{
    background-color: rgb(0, 4, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
}
#Tokyo{
     background-color: rgb(0, 4, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
}
Body{
    background-color: rgb(184, 129, 129);
}
#England{
     background-color: rgb(109, 112, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
}
#France{
     background-color: rgb(109, 112, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
}
#Japan{
     background-color: rgb(109, 112, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
}
}