body {
    margin: 0px;
}

main {
    margin-left: 20px;
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none; 
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: black;

}

.navbar li{
    float: left;
}

.navbar a {
   display: block;
color: green;
text-align: center;
text-decoration: none;
}

.navbar a:hover {background-color: black
    ;
}